---
Checks: "*,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -hicpp-deprecated-headers,
  -modernize-deprecated-headers,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -misc-non-private-member-variables-in-classes
  -performance-enum-size"
WarningsAsErrors: "*,
  -concurrency-mt-unsafe,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -hicpp-deprecated-headers,
  -hicpp-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-avoid-c-arrays,
  -bugprone-unsafe-functions,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -misc-non-private-member-variables-in-classes"
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ""
FormatStyle: none
EnumIgnoreList:
  - LogLevel
